.profile-avatar__redact-button {
    position: absolute;
    border: none;
    cursor: pointer;
    z-index: 2;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
}

.profile-avatar__redact-button:hover {
    display: flex;
    opacity: 1;
    background-image: url('../../../images/redactAvatar.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.8);
}