@import url(./vendor/normalize.css);
@import url(./fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_type/popup_type_redact.css);
@import url(./blocks/popup/_type/popup_type_add-card.css);
@import url(./blocks/popup/_type/popup_type_image.css);
@import url(./blocks/popup/_type/popup_type_deletion.css);
@import url(./blocks/popup/_type/popup_type_redact-avatar.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/__image/form__image.css);
@import url(./blocks/form/__status/form__status.css);
@import url(./blocks/form/_type/form_type_login.css);
@import url(./blocks/form/_type/form_type_register.css);
@import url(./blocks/form-image/form-image.css);
@import url(./blocks/form-image/__text/form-image__text.css);
@import url(./blocks/form-image/__image/form-image__image.css);
@import url(./blocks/form/__link/form__link.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__title/_type/form__title_type_login.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__input/_type/form__input_type_title.css);
@import url(./blocks/form/__input/_type/form__input_type_name.css);
@import url(./blocks/form/__input/_type/form__input_type_job.css);
@import url(./blocks/form/__input/_type/form__input_type_link.css);
@import url(./blocks/form/__input/_type/form__input_type_error.css);
@import url(./blocks/form/__input/_type/form__input_type_avatar.css);
@import url(./blocks/form/__input/_type/form__input_type_login.css);
@import url(./blocks/form/__input/_type/form__input_type_password.css);
@import url(./blocks/form/__input-error/form__input-error.css);
@import url(./blocks/form/__input-error/_type/form__input-error_type_active.css);
@import url(./blocks/form/__save-button/form__save-button.css);
@import url(./blocks/form/__save-button/_type/form_save-button_type_login.css);
@import url(./blocks/form/__save-button/_type/form__save-button_type_register.css);
@import url(./blocks/form/__save-button/_inactive/form__save-button_inactive.css);
@import url(./blocks/form/__save-button/_hidden/form_save-button_hidden.css);
@import url(./blocks/form/__loading/form__loading.css);
@import url(./blocks/form/__loading/_visible/form__loading_visible.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__email-info/header__email-info.css);
@import url(./blocks/main/main.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile-avatar/profile-avatar.css);
@import url(./blocks/profile-avatar/__image/profile-avatar__image.css);
@import url(./blocks/profile-avatar/__redact-button/profile-avatar__redact-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile-info/profile-info.css);
@import url(./blocks/profile-info/__name/profile-info__name.css);
@import url(./blocks/profile-info/__job/profile-info__job.css);
@import url(./blocks/profile-info/__edit-button/profile-info__edit-button.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__button-trash/element__button-trash.css);
@import url(./blocks/element/__button-trash/_hidden/element__button-trash_hidden.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__text/element__text.css);
@import url(./blocks/element-like/element-like.css);
@import url(./blocks/element-like/__like/element-like__like.css);
@import url(./blocks/element-like/__like/_active/element-like__like_active.css);
@import url(./blocks/element-like/__number/element-like__number.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
