.header {
    display: flex;
    margin: 0;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (min-width: 1024px) {
    .header {
        width: 100%;
        max-width: 880px;
        margin-bottom: 40px;
        margin-top: 45px;
    }
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
    .header {
        width: 320px;
        margin-bottom: 38px;
        margin-top: 28px;
    }
}